.gameList{
  padding: 10px 20px;
  width: 200px;
  height: 100vh;
  background: #dddd;
}
.gameContext{
  display: flex;
}
.gameContainer{
  width: calc(100vw - 200px);
  height: 100vh;
  min-width: 800px;
}

